.cabecalho {
    background-color: rgb(255, 144, 144);
    text-align: center;
    margin-bottom: 3px;

    .saudacao {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .ola {
        margin: 0;
    }
  
    .nome-aluno {
        color: #FFC300;
        font-weight: bold;
        margin: 0;
    }
  
    .chamada {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.controles {
    display: flex;
    border: 2px solid #333;
    padding: 3px;
}
.controles button {
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #333;
    transition: background-color 0.2s ease;
}
.controles button:hover {
    background-color: #dddddd;
}

.painel {
    display: flex;                  /* Ativa o flexbox */
    flex-direction: row;            /* Alinha os itens em linha */
    justify-content: space-evenly;  /* Centraliza horizontalmente */
    align-items: center;            /* Centraliza verticalmente */
    gap: 20px;                      /* Espaço entre elementos */
    width: 100%;                    /* Largura total */
}
.painel button {
    font-size: 400%;
    border-radius: 4px;
    border: 1px solid #333;
    transition: background-color 0.2s ease;
}

.avatar {
    position: relative;
    width: 300px;
    height: 300px;
    background: #eee;
    border-radius: 50%;

    .pele, .cabelo, .nariz, .boca {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }
    .cabelo img {
        position: relative;
        top: 100px; /* Ajuste vertical simples */
    }
    .nariz img {
        position: relative;
        top: 166px; /* Ajuste vertical simples */
    }
    .boca img {
        position: relative;
        top: 200px; /* Ajuste vertical simples */
    }
    .pele-option, .cabelo-option, .nariz-option, .boca-option {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
    }
    .pele-option:first-child, 
    .cabelo-option:first-child { display: block; }
    .nariz-option:first-child { display: block; }
    .boca-option:first-child { display: block; }
    .olhos {
        position: absolute;
        top: 43%;
        left: 36.5%;
        display: flex;
        justify-content: center;
        gap: 38px;
    }
    .olhos-esquerdo, .olhos-direito {
        width: 30px;
        height: 30px;
        position: relative;
    }
    .sobrancelhas {
        position: absolute;
        top: 39%;
        left: 33.5%;
        display: flex;
        justify-content: center;
        gap: 17px;
    }
    .sobrancelhas-esquerda {
        position: relative;
        transform: scaleX(-1); /* Espelha horizontalmente */
    }
    .sobrancelhas-direita {
        position: relative;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;  /* Fica fixo na viewport */
    bottom: 0;        /* Alinha na base da tela */
    left: 0;          /* Garante 100% de largura */
    margin: 0;        /* Remove margens padrão */

    p {
        margin: 0;        /* Remove margens padrão */
        padding: 0.5%;    /* Adiciona um pouco de espaço interno */
    }
}